In [ ]:
x="This is \"Python\" programming"
print(x)

This is "Python" programming

In [ ]:
 x="He\'s a doctor"
 print(x)

He's a doctor

In [ ]:
x="Hello\n World!"
print(x)

Hello
 World!

In [ ]:
x="Hello\t World!"
print(x)

Hello	 World!

In [ ]:
print("\"Enitta\" Lisa Siby")

"Enitta" Lisa Siby

In [ ]:
print("He\'s a doctor")

He's a doctor

In [ ]:
print("\"Enitta\"\n Lisa\n Siby")

"Enitta"
 Lisa
 Siby

In [ ]:
x="For only {price:2f} dollar!"
print(x.format(price=49))

For only 49.000000 dollar!

In [ ]:
x=["John","Mary","David","Adam"]
y=input("Enter your name: ")
z=int(input("Enter location:"))
x[z]=y
print(x)

Enter your name: Nini
Enter location:0
['Nini', 'Mary', 'David', 'Adam']

In [8]:
x=["John","Mary","David","Adam"]
def Parus():
  y=(input("Enter the name: "))
  n=int(input("Enter a location: "))
  x.insert(n,y)

In [10]:
Parus()
print(x)

Enter the name: Puppy
Enter a location: 1
['John', 'Puppy', 'Puppy', 'Mary', 'David', 'Adam']

In [11]:
def BBS():
  d=int(input("Enter the number: "))
  a=int(input("Enter the second number: "))
  print(d+a)
  print(d-a)
  print(d*a)
  print(d/a)

In [12]:
BBS()

Enter the number: 52
Enter the second number: 2
54
50
104
26.0

In [22]:
def add(x,y):
  print(x+y)
def sub(x,y):
  print(x-y)
def multiply(x,y):
  print(x*y)
def divide(x,y):
  print(x/y)

In [ ]:
x=int(input("Enter the first value: "))
y=int(input("Enter the second value: "))