In [9]:
x=int(input("Enter your basic salary : "))
y=int(input("Enter the HRA provided by the company : "))
z=int(input("Enter the actual rent paid : "))
a=x*10/100
b=z-a
c=x*12
d=c*50/100
if y>b:
  if y>d:
    print(y,"is the highest number")
if b>y:
  if b>d:
    print(b,"is the highest number")
if d>y:
  if d>b:
    print(d,"is the highest number")
 
 #OR

if y>b or y>d:
  print(y,"is the highest number")
if b>y or b>d:
  print(b,"is the highest number")
if d>y or d>b:
  print(d,"is the highest number")

Enter your basic salary : 500000
Enter the HRA provided by the company : 20000
Enter the actual rent paid : 10000
3000000.0 is the highest number

In [12]:
x=int(input("Enter your basic salary : "))
y=int(input("Enter the HRA provided by the company : "))
z=int(input("Enter the actual rent paid : "))
a=x*10/100
b=z-a
c=x*12
d=c*50/100
if y>b or y>d:
  ex=y
  print(y,"is the highest number")
if b>y or b>d:
  ex=b
  print(b,"is the highest number")
if d>y or d>b:
  ex=d
  print(d,"is the highest number")
sal=x+y-ex
if ex> 150000:
  sal=x+y-150000
if sal<=250000:
  print("You are not taxable")
if sal>250000 and sal<=500000:
  print("Your taxable amout is " ,(sal-250000)*5/100)
if sal>500000 and sal<=750000:
  print("Your taxable amout is " ,((sal-500000)*10/100)+(250000*5/100))
if sal>750000 and sal<=1000000:
  print("Your taxable amout is " ,((sal-750000)*15/100)+(500000*10/100)+(250000*5/100))
if sal>1000000 and sal<=1250000:
  print("Your taxable amout is " ,((sal-1000000)*20/100)+(750000*15/100)+(500000*10/100)+(250000*5/100))
if sal>1250000 and sal<=1500000:
  print("Your taxable amout is " ,((sal-1250000)*25/100)+(1000000*20/100)+(75000*15/100)+(500000*10/100)+(250000*5/100))
if sal>1500000 :
  print("Your taxable amout is " ,((sal-1500000)*30/100)+(1250000*25/100)+(1000000*20/100)+(750000*15/100)+(500000*10/100)+(250000*5/100))

Enter your basic salary : 50000
Enter the HRA provided by the company : 100000
Enter the actual rent paid : 15000
100000 is the highest number
300000.0 is the highest number
You are not taxable