In [5]:
x=int(input("Enter your marks : "))

Enter your marks : 50

In [7]:
if x>50:
  print("You are passed")

if x==50:
  print("You are just passed")

if x<50:
  print("You are failed")

You are just passed

In [20]:
sal=int(input("Enter your salary : "))
if sal>250000:
  print("You are taxable")
  print("Your taxable amout is " ,(sal-250000)*10/100)

if sal<250000:
  print("You are not taxable")
print ("Byeeeee")

Enter your salary : 350000
You are taxable
Your taxable amout is  10000.0
Byeeeee

In [24]:
sal=int(input("Enter your salary : "))
if sal<=250000:
  print("You are not taxable")
if sal>250000 and sal<=500000:
  print("Your taxable amout is " ,(sal-250000)*5/100)
if sal>500000 and sal<=750000:
  print("Your taxable amout is " ,(sal-500000)*10/100)
if sal>750000 and sal<=1000000:
  print("Your taxable amout is " ,(sal-750000)*15/100)
if sal>1000000 and sal<=1250000:
  print("Your taxable amout is " ,(sal-1000000)*20/100)
if sal>1250000 and sal<=1500000:
  print("Your taxable amout is " ,(sal-1250000)*25/100)
if sal>1500000 :
  print("Your taxable amout is " ,(sal-1500000)*30/100)

Enter your salary : 1600000
Your taxable amout is  30000.0